* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    font-size: 20px;
    margin: 10px;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

.row {
    width: 500px;
    height: 500px;
}